@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "components/AutoRefreshToggle.css";
@import "components/CoopTable.css";
@import "components/EventTable.css";

html {
    height: 100vh;
    height: -webkit-fill-available;
}
