<!DOCTYPE html>
<html>
  {{template "head"}}
  <body class="flex flex-col min-h-screen min-h-stretch">
    {{template "nav"}}
    <main class="flex-1 max-w-4xl w-full mx-auto">
      {{template "banners" .}}
      <div class="mx-4 my-4 text-center text-sm text-gray-700">
        {{if not .RefreshTime.IsZero}}
          <div>
            Data last refreshed:
            <time class="whitespace-nowrap">{{.RefreshTime | fmtdatetime}} ({{.RefreshTime | reltime}})</time>
          </div>
        {{end}}
        {{template "auto_refresh_toggle"}}
      </div>
      {{range .Statuses}}{{template "solo_coop" .}}{{end}}
      {{template "peeker" .Peeker}}
    </main>
    {{template "footer"}}
    <script src="{{static "coop.js"}}"></script>
    <script src="{{static "peeker.js"}}"></script>
  </body>
</html>
