{{define "footer"}}
  <footer class="my-4 text-center text-gray-500">
    <p class="text-sm">Made with <svg class="h-3 w-3 inline-block align-middle relative bottom-px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M192 0C86 0 0 214 0 320s86 192 192 192 192-86 192-192S298 0 192 0zm0 480c-88.22 0-160-71.78-160-160 0-100.72 82.24-288 160-288s160 187.28 160 288c0 88.22-71.78 160-160 160z" class=""></path></svg> by <a href="https://wasmegg.netlify.app/" target="_blank" class="text-blue-500 hover:text-blue-400">@mk2</a></p>
    {{with appbuild}}<p class="text-xs">Build <a href="https://github.com/fanaticscripter/EggContractor/tree/{{gitcommit}}" target="_blank" class="text-gray-500 hover:text-gray-400">{{.}}</a></p>{{end}}
    <p class="text-xs"><a href="https://github.com/fanaticscripter/EggContractor/" target="_blank" class="text-blue-500 hover:text-blue-400">Source code</a></p>
  </footer>
  <script src="{{static "app.js"}}"></script>
{{end}}
