{{define "nav"}}
  <nav class="bg-gray-600">
    <div class="px-4">
      <div class="flex items-center justify-between h-14 sm:h-12">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <a href="/"><svg class="h-6 w-6 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M192 0C86 0 0 214 0 320s86 192 192 192 192-86 192-192S298 0 192 0z" class=""></path></svg></a>
          </div>
        </div>
        <div class="hidden md:block">
          <div class="ml-4 flex items-center md:ml-6">
            <div class="ml-10 flex items-baseline space-x-2">
              <a href="/" class="text-gray-200 hover:bg-gray-700 hover:text-white p-2 rounded-md text-sm font-medium">Home</a>
              <a href="/events/" class="text-gray-200 hover:bg-gray-700 hover:text-white p-2 rounded-md text-sm font-medium">Events</a>
              <a href="/peeked/" class="text-gray-200 hover:bg-gray-700 hover:text-white p-2 rounded-md text-sm font-medium">Peeked</a>
            </div>
          </div>
        </div>
        <div id="nav__menu-toggle" class="-mr-2 flex md:hidden">
          <button class="bg-gray-600 inline-flex items-center justify-center p-2 rounded-md text-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-600 focus:ring-white">
            <span class="sr-only">Open main menu</span>
            <svg id="nav__menu-toggle-closed-icon" class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
            <svg id="nav__menu-toggle-open-icon" class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
    </div>

    <div id="nav__menu" class="hidden md:hidden">
      <div class="px-2 pb-2 sm:px-3">
        <a href="/" class="text-gray-200 hover:bg-gray-700 hover:text-white block p-2 rounded-md text-base font-medium">Home</a>
        <a href="/events/" class="text-gray-200 hover:bg-gray-700 hover:text-white block p-2 rounded-md text-base font-medium">Events</a>
        <a href="/peeked/" class="text-gray-200 hover:bg-gray-700 hover:text-white block p-2 rounded-md text-base font-medium">Peeked</a>
      </div>
    </div>
  </nav>
{{end}}
