/*
!/api
!/cmd
!/config
!/coop
!/css
!/db
!/js
!/migrations
!/notify
!/solo
!/static
/static/*
!/static/favicon.ico
!/static/favicon-180.png
!/templates
!/util
!/web
!/go.mod
!/go.sum
!/main.go
!/package.json
!/yarn.lock
!/*.js
