@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  height: 100vh;
  height: stretch;
}

body {
  min-height: 100vh;
  min-height: stretch;
  @apply flex flex-col;
}
