@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Always Together";
  src: url("static/Always Together.otf");
}

html {
  height: 100vh;
  height: stretch;
}

body {
  min-height: 100vh;
  min-height: stretch;
  @apply flex flex-col;
}

body {
  @apply text-gray-50 bg-dark-25;
}

* {
  @apply tracking-wide;
  font-variant-ligatures: none;
}

/* Disable spin button for number input */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.tippy-content {
  @apply text-xs px-2 py-1 !important;
}

.other-tools-ribbon {
  @apply block absolute top-0 right-0 overflow-hidden;
  /* 15 * sqrt(2) + 70 = 91.21; add 2px for shadow */
  width: 94px;
  height: 94px;
  text-indent: -9999px;
  -webkit-tap-highlight-color: transparent;
}

.other-tools-ribbon::before {
  @apply transform rotate-45 absolute top-0 right-0 bg-dark-20 shadow-md;
  /* width / 2 + margin-right == height / 2 + margin-top */
  content: "";
  width: 150px;
  height: 30px;
  margin-right: -40px;
  margin-top: 20px;
}

.other-tools-ribbon:hover::before {
  @apply bg-gray-500 transition-colors duration-200 ease-in-out;
}

.other-tools-ribbon::after {
  @apply font-default transform rotate-45 absolute top-0 right-0
    text-center align-middle text-white font-medium uppercase whitespace-nowrap
    border border-white border-dotted;
  content: "Other tools";
  width: 150px;
  height: 26px;
  margin-right: -39px;
  margin-top: 21px;
  font-size: 10px;
  line-height: 24px;
  text-indent: 0;
}
