{{- /* The coop template renders a coop.CoopStatus or web.CoopStatus, where the associated contract may be nil. */ -}}
{{define "coop"}}
  {{if .}}
    {{$coop := .}}
    {{$showoffline := hasactivitystats $coop}}
    {{$contract := .Contract}}
    <div class="my-4 bg-white shadow overflow-hidden sm:rounded-lg">
      <div class="px-4 py-4 sm:px-6 bg-gray-50">
        <div class="-ml-4 -mt-2 flex items-start justify-between flex-wrap sm:flex-nowrap">
          <div class="flex-grow ml-4 mt-2">
            <h2 class="text-lg leading-6 font-medium text-gray-900">
              {{if $contract}}
                {{with $contract.EggType}}
                  <img class="inline relative -top-px -left-1 -mr-1 h-6 w-6" src="{{eggiconpath . | static}}" title="{{eggname .}} Egg, value {{eggvalue .}}" data-tooltip>
                {{end}}
                {{$contract.Name}} ({{$contract.Id}})
              {{else}}
                {{.ContractId}}
              {{end}}
            </h2>
            <div class="flex items-center">
              <span class="flex items-center justify-center relative h-6 w-6 -left-1">
                <svg viewBox="0 0 640 512" class="h-3.5 relative top-px text-gray-400">
                  <path fill="currentColor" d="M96 224c35.3 0 64-28.7 64-64s-28.7-64-64-64-64 28.7-64 64 28.7 64 64 64zm448 0c35.3 0 64-28.7 64-64s-28.7-64-64-64-64 28.7-64 64 28.7 64 64 64zm32 32h-64c-17.6 0-33.5 7.1-45.1 18.6 40.3 22.1 68.9 62 75.1 109.4h66c17.7 0 32-14.3 32-32v-32c0-35.3-28.7-64-64-64zm-256 0c61.9 0 112-50.1 112-112S381.9 32 320 32 208 82.1 208 144s50.1 112 112 112zm76.8 32h-8.3c-20.8 10-43.9 16-68.5 16s-47.6-6-68.5-16h-8.3C179.6 288 128 339.6 128 403.2V432c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48v-28.8c0-63.6-51.6-115.2-115.2-115.2zm-223.7-13.4C161.5 263.1 145.6 256 128 256H64c-35.3 0-64 28.7-64 64v32c0 17.7 14.3 32 32 32h65.9c6.3-47.4 34.9-87.3 75.2-109.4z" />
                </svg>
              </span>
              <span class="max-w-sm pl-px text-sm text-gray-700 truncate">{{.Code}}</span>
            </div>
          </div>
          {{template "status_label" .}}
        </div>
      </div>
      <div class="border-t border-gray-200 px-4 py-5 sm:px-6 space-y-4">
        <dl class="grid grid-cols-1 gap-x-4 gap-y-4 sm:grid-cols-2">
          <div class="sm:col-span-1">
            <dt class="text-sm font-medium text-gray-500">Type</dt>
            <dd class="mt-1 text-sm text-gray-900">{{if .IsElite}}Elite{{else}}Standard{{end}}</dd>
          </div>
          {{if .Creator}}
            <div class="sm:col-span-1">
              <dt class="text-sm font-medium text-gray-500">Created by</dt>
              <dd class="mt-1 text-sm text-gray-900">{{.Creator.Name}}</dd>
            </div>
          {{end}}
          <div class="sm:col-span-1">
            <dt class="text-sm font-medium text-gray-500">Players</dt>
            <dd class="mt-1 text-sm text-gray-900">
              {{if $contract}}
                {{.Members | len}} / {{$contract.MaxCoopSize}}
              {{else}}
                {{.Members | len}}
              {{end}}
            </dd>
          </div>
          <div class="sm:col-span-1">
            <dt class="text-sm font-medium text-gray-500">Eggs laid</dt>
            <dd class="mt-1 text-sm text-gray-900">
              {{if $contract}}
                {{.EggsLaid | numfmt}} / {{$contract.UltimateGoal .IsElite | numfmtWhole}}
              {{else}}
                {{.EggsLaid | numfmt}}
              {{end}}
            </dd>
          </div>
          {{if $showoffline}}
            <div class="sm:col-span-1">
              <dt class="text-sm font-medium text-gray-500 cursor-help" title="Confirmed eggs laid, plus the expected numbers accrued by each member in their offline time assuming last recorded rate. Offline time is capped at 30hr.">Eggs laid, offline-adjusted</dt>
              <dd class="mt-1 text-sm text-gray-900">
                  {{.OfflineAdjustedEggsLaid | numfmt}}
              </dd>
            </div>
          {{end}}
          <div class="sm:col-span-1">
            <dt class="text-sm font-medium text-gray-500">Hourly laying rate</dt>
            <dd class="mt-1 text-sm text-gray-900">
              {{if $contract}}
                {{.EggsPerHour | numfmt}} current / {{.RequiredEggsPerHour $contract | numfmt}} required
              {{else}}
                {{.EggsPerHour | numfmt}}
              {{end}}
            </dd>
          </div>
          <div class="sm:col-span-1">
            <dt class="text-sm font-medium text-gray-500">Time to complete</dt>
            <dd class="mt-1 text-sm text-gray-900">
              {{if $contract}}
                {{.ExpectedDurationUntilFinish $contract | fmtduration}} expected / {{.DurationUntilProductionDeadline | fmtdurationGe0}} remaining
              {{else}}
                {{.DurationUntilProductionDeadline | fmtdurationGe0}} remaining
              {{end}}
            </dd>
          </div>
          {{if and $contract $showoffline}}
            <div class="sm:col-span-1">
              <dt class="text-sm font-medium text-gray-500 cursor-help" title="Confirmed eggs laid, plus the expected numbers accrued by each member in their offline time assuming last recorded rate. Offline time is capped at 30hr.">Time to complete, offline-adjusted</dt>
              <dd class="mt-1 text-sm text-gray-900">
                  {{.OfflineAdjustedExpectedDurationUntilFinish | fmtduration}}
              </dd>
            </div>
          {{end}}
        </dl>
        {{with .ProgressInfo}}
          {{template "progress_bar" .}}
        {{end}}
      </div>

      {{$members := members .}}
      <div class="flex flex-col">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
            <div class="shadow overflow-hidden border-b border-gray-200">
              <div class="CoopTable" data-members="{{json $members}}">
                <table class="min-w-full divide-y divide-gray-200">
                  <thead class="bg-gray-50">
                    <tr>
                      <th scope="col" class="px-6 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Player<span class="inline-block w-0 text-gray-400 invisible">&nbsp;&#x25BC;</span></th>
                      <th scope="col" class="px-6 py-2 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Laid<span class="inline-block w-0 text-gray-400 invisible">&nbsp;&#x25BC;</span></th>
                      <th scope="col" class="px-6 py-2 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Rate/hr<span class="inline-block w-0 text-gray-400 invisible">&nbsp;&#x25BC;</span></th>
                      <th scope="col" class="px-6 py-2 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">EB%<span class="inline-block w-0 text-gray-400 invisible">&nbsp;&#x25BC;</span></th>
                      <th scope="col" class="px-6 py-2 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Tokens<span class="inline-block w-0 text-gray-400 invisible">&nbsp;&#x25BC;</span></th>
                      {{if $showoffline}}<th scope="col" class="px-6 py-2 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Offline<span class="inline-block w-0 text-gray-400 invisible">&nbsp;&#x25BC;</span></th>{{end}}
                    </tr>
                  </thead>
                  <tbody>
                    {{range $index, $member := $members}}
                      <tr class="{{if isodd $index}}bg-gray-50{{else}}bg-white{{end}}">
                        <td class="px-6 py-1 whitespace-nowrap text-sm text-gray-500 {{if not .IsActive}}CoopTable__member--snoozing{{end}}" title="{{.Id}}">{{.Name}}</td>
                        <td class="px-6 py-1 whitespace-nowrap text-center text-sm text-gray-500">{{.EggsLaidStr}}</td>
                        <td class="px-6 py-1 whitespace-nowrap text-center text-sm text-gray-500">{{.EggsPerHourStr}}</td>
                        <td class="px-6 py-1 whitespace-nowrap text-center text-sm text-gray-500">{{.EarningBonusPercentageStr}}</td>
                        <td class="px-6 py-1 whitespace-nowrap text-center text-sm text-gray-500">{{.Tokens}}</td>
                        {{if $showoffline}}<td class="px-6 py-1 whitespace-nowrap text-center text-sm text-gray-500">{{.OfflineTimeStr}}</td>{{end}}
                      </tr>
                    {{end}}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{end}}
{{end}}
