{{- /* The solo template renders a web.SoloStatus, where the associated
contract may be nil. Ideally we would display whether the "solo" contract allows
coop, and the max coop size in that case -- since unfortunately coop contracts
can always be soloed, and always start in a solo state before a coop is joined.
However, I only thought of this after designing all the schema, writing all the
code, and have accumulated a good number of states in my database. and I don't
want to change a whole lot of code, and I want to do a protobuf schema migration
with tons of stored messages even less. Therefore, we'll have to live with this
indistinguishability in the UI. */ -}}
{{define "solo"}}
  {{if .}}
    <div class="my-4 bg-white shadow overflow-hidden sm:rounded-lg">
      <div class="px-4 py-4 sm:px-6 bg-gray-50">
        <div class="-ml-4 -mt-2 flex items-start justify-between flex-wrap sm:flex-nowrap">
          <div class="flex-grow ml-4 mt-2">
            <h2 class="text-lg leading-6 font-medium text-gray-900">
              {{with .GetEggType}}
                <img class="inline relative -top-px -left-1 -mr-1 h-6 w-6" src="{{eggiconpath . | static}}" title="{{eggname .}} Egg, value {{eggvalue .}}" data-tooltip>
              {{end}}
              {{.GetName}} ({{.GetId}})
            </h2>
            <div class="flex items-center">
              <span class="flex items-center justify-center relative h-6 w-6 -left-1">
                <svg viewBox="0 0 448 512" class="h-3.5 text-gray-400">
                  <path fill="currentColor" d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z" />
                </svg>
              </span>
              <span class="max-w-sm pl-px text-sm text-gray-700 truncate cursor-pointer" title="{{.GetPlayerId}} (click to copy)" data-tooltip data-copy="{{.GetPlayerId}}">
                {{if .GetPlayerId}}{{.GetPlayerNickname}}{{else}}Unknown player{{end}}
              </span>
            </div>
          </div>
          {{template "status_label" .}}
        </div>
      </div>
      <div class="border-t border-gray-200 px-4 py-5 sm:px-6 space-y-4">
        <dl class="grid grid-cols-1 gap-x-4 gap-y-4 sm:grid-cols-2">
          <div class="sm:col-span-1">
            <dt class="text-sm font-medium text-gray-500">Type</dt>
            <dd class="mt-1 text-sm text-gray-900">{{if .GetIsElite}}Elite{{else}}Standard{{end}}</dd>
          </div>
          <div class="sm:col-span-1">
            <dt class="text-sm font-medium text-gray-500">Eggs laid</dt>
            <dd class="mt-1 text-sm text-gray-900">{{.GetEggsLaid | numfmt}} / {{.GetUltimateGoal | numfmtWhole}}</dd>
          </div>
          <div class="sm:col-span-1">
            <dt class="text-sm font-medium text-gray-500">Eggs laid, offline-adjusted</dt>
            <dd class="mt-1 text-sm text-gray-900">{{.OfflineAdjustedEggsLaid | numfmt}}</dd>
          </div>
          <div class="sm:col-span-1">
            <dt class="text-sm font-medium text-gray-500">Hourly laying rate</dt>
            <dd class="mt-1 text-sm text-gray-900">{{.GetEggsPerHour | numfmt}} current / {{.RequiredEggsPerHour | numfmt}} required</dd>
          </div>
          <div class="sm:col-span-1">
            <dt class="text-sm font-medium text-gray-500">Time to complete</dt>
            <dd class="mt-1 text-sm text-gray-900">{{.ExpectedDurationUntilFinish | fmtduration}} expected / {{.GetDurationUntilProductionDeadline | fmtdurationGe0}} remaining</dd>
          </div>
          <div class="sm:col-span-1">
            <dt class="text-sm font-medium text-gray-500">Time to complete, offline-adjusted</dt>
            <dd class="mt-1 text-sm text-gray-900">{{.OfflineAdjustedExpectedDurationUntilFinish | fmtduration}}</dd>
          </div>
          <div class="sm:col-span-1">
            <dt class="text-sm font-medium text-gray-500">Reported to server</dt>
            <dd class="mt-1 text-sm text-gray-900">{{.GetServerRefreshTime | fmtdatetime}} ({{.GetServerRefreshTime | reltime}})</dd>
          </div>
        </dl>
        {{with .ProgressInfo}}
          {{template "progress_bar" .}}
        {{end}}
      </div>
    </div>
  {{end}}
{{end}}
