<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="apple-touch-icon-precomposed" href="/static/favicon-180.png">
    <title>Artifact list - EggContractor</title>
    <meta property="og:image" content="https://repository-images.githubusercontent.com/325571244/306e2d00-4af2-11eb-81ec-6be9db3cbe94">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Artifact list - EggContractor">
    <meta property="og:url" content="https://wasmegg.netlify.app/past-contracts/">
    <meta property="og:description" content="Egg, Inc. Artifact list">
    <link rel="stylesheet" href="@@app.css@@">
  </head>
  <body class="bg-gray-100 py-8">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <ul class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-4">
        {{range .}}
          {{$artifact := .}}
          <li class="col-span-1 bg-white rounded-lg shadow divide-y divide-gray-200">
            <div class="w-full flex items-center justify-between px-6 py-4 space-x-4">
              <div class="flex-1 truncate">
                <div class="flex items-center space-x-3">
                  <h3 class="text-gray-900 text-sm font-medium truncate">{{.Name}}</h3>
                </div>
                <p class="mt-1 text-gray-500 text-xs truncate">{{.Effect}}</p>
                <div class="mt-2">
                  {{range $idx, $levelname := .LevelNames}}
                    <div class="flex items-center space-x-2">
                      {{with afxiconpath $artifact $idx}}<a href="{{.}}" target="_blank"><img class="h-12 w-12" src="{{.}}" alt=""></a>{{end}}
                      <div class="text-xs text-gray-700">{{.}}</div>
                    </div>
                  {{end}}
                </div>
              </div>
            </div>
          </li>
        {{end}}
      </ul>
    </div>
  </body>
</html>
