{{- define "artifact_list" -}}
<ul class="my-4 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-4">
  {{range .}}
    {{$artifact := .}}
    <li class="col-span-1 bg-white rounded-lg shadow divide-y divide-gray-200">
      <div class="w-full flex items-center justify-between px-6 py-4 space-x-4">
        <div class="flex-1 truncate">
          <div class="flex items-center space-x-3">
            <h3 class="text-gray-900 text-sm font-medium truncate" title="{{.Effect}}">{{.Name}}</h3>
          </div>
          <p class="mt-1 text-gray-500 text-xs truncate" title="{{.Effect}}">{{.Effect}}</p>
          <div class="mt-2">
            {{range $idx, $levelname := .LevelNames}}
              <div class="flex items-center space-x-2">
                {{with afxiconpath $artifact $idx}}<a href="https://eggincassets.tcl.sh/orig/{{.}}" target="_blank"><img class="h-12 w-12" src="https://eggincassets.tcl.sh/128/{{.}}"></a>{{end}}
                <div class="text-xs text-gray-700">{{.}}</div>
              </div>
            {{end}}
          </div>
        </div>
      </div>
    </li>
  {{end}}
</ul>
{{- end -}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="apple-touch-icon-precomposed" href="/static/favicon-180.png">
    <title>Artifact list - EggContractor</title>
    <meta property="og:image" content="https://repository-images.githubusercontent.com/325571244/306e2d00-4af2-11eb-81ec-6be9db3cbe94">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Artifact list - EggContractor">
    <meta property="og:url" content="https://wasmegg.netlify.app/artifact-list/">
    <meta property="og:description" content="Egg, Inc. Artifact list">
    <link rel="stylesheet" href="@@app.css@@">
  </head>
  <body class="bg-gray-100 py-4">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <h2 class="mb-4 text-md leading-6 font-medium text-gray-900">Artifacts</h2>
      {{template "artifact_list" .Artifacts}}
      <h2 class="mb-4 text-md leading-6 font-medium text-gray-900">Stones & stone fragments</h2>
      {{template "artifact_list" .Stones}}
      <h2 class="mb-4 text-md leading-6 font-medium text-gray-900">Ingredients</h2>
      {{template "artifact_list" .Ingredients}}
      <header class="mb-4 space-y-1">
        <h2 class="text-md leading-6 font-medium text-gray-900">Unconfirmed ingredients</h2>
        <p class="text-xs text-gray-500">Unconfirmed ingredients are ones that have an ID as well as icons in game files, but don't appear to have associated name strings, meaning they probably aren't being used for now, but this is only a hypothesis.</p>
      </header>
      {{template "artifact_list" .UnconfirmedIngredients}}
    </div>
  </body>
</html>
